<h1 class="app-title">
  Welcome to {{ titleApp }}!
</h1>
<div class="todo-app">
  <div style="margin-bottom:60px;">
    <input class="todo-input" [(ngModel)]="title" placeholder="please input your work"
      (keyup.enter)="addItem(title)">

    <button class="btn" (click)="addItem(title)">Save</button>
  </div>

  <ul>
    <li *ngFor="let item of todoList">

      <div class="todo-item">
        <div>
          <input type="checkbox" class="todo-checkbox" (click)="completeItem(item)" [checked]="item.completed"  >
        </div>
        <div>
          <span class="todo-title" [ngClass]="{'todo-complete': item.completed}" > {{item.title}} </span>
        </div>
        <div>
          <span class="todo-hide" [ngClass]="{'todo-appear': item.completed}"> => completed </span>
        </div>
        <div>
          <button class="btn btn-red" (click)="removeItem(item)">X</button>
        </div>
      </div>
    </li>
  </ul>

  <button class="btn btn-red" (click)="removeCompletedItem(item)">Clear completed todolist</button>
</div>

<router-outlet></router-outlet>
